<div>
    <div id="statistics-results">
        <label for="number-list">Enter numbers seperated by commas</label>
        <input type="text" id="number-list" />
        <button id="calculate-statistics-button">Calculate Statistics</button>
        <p><strong>Summary Statistics:</strong></p>
        <p id="mean">Mean: {{ mean }}</p>
        <p id="median">Median: {{ median }}</p>
        <p id="range">Range: {{ range }}</p>
        <p id="data-set-size">Data Set Size: {{ dataSetSize }}</p>
        <p id="standard-deviation">
            Standard Deviation: {{ standardDeviation }}
        </p>
        <p id="variance">Variance: {{ variance }}</p>
        <p id="iqr">Interquartile Range (IQR): {{ iqr }}</p>
    </div>
</div>
